//----- Variables / Colors

$color-white    : #fff;
$color-black    : #212121;
$color-lighGrey: #F5F5F5;
$color-midGrey: rgba(157, 157, 157, 1);
$color-blue: rgba(0, 106, 203, 1);
$color-lightBlue: #FAFCFE;
$color-lightBlue_2 :rgba(245, 248, 253, 1)
