@import "./variables/all_variables.module.scss";

@import "./Home.module.scss";
@import "./Nav.module.scss";
@import "./GrowthData.module.scss";
@import "./Aproach.module.scss";
@import "./CaseStudiesBlock.module.scss";
@import "./NewsBlock.module.scss";
@import "./Clients.module.scss";


html,
body {
  padding: 0;
  margin: 0;
  font-family: $fontDefault;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.container {
  max-width: 1380px;
  margin: 0 auto;
  width: 90%;
  @include breakpoint(desktop) {
    width: 100%;
  }
}
