.banner {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 668px;
  width: 100%;
  &-anchors {
    position: absolute;
    width: 100%;
    bottom: 0;
    @include breakpoint(desktop) {
      height: 82px;
    }
  }
  @include breakpoint(desktop) {
    height: 861px;
  }
}

// Anchor section
.anchor {
  &-wrapper {
    display: flex;
    border-top: 1px solid rgba(255, 255, 255, 0.33);
    justify-content: center;
    height: 100%;
    color: $color-white;
  }
  &-item {
    padding: 16px;
    border-left: 1px solid rgba(255, 255, 255, 0.33);
    padding: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    @include breakpoint(tablet) {
      position: relative;
    }
    @include breakpoint(desktop) {
      flex-wrap: wrap;
      justify-content: normal;
      font-size: 21px;
    }
    &:first-child {
      border: none;
    }
  }
  &-arrow {
    background-image: url("../public/assets/TriangleDown.png");
    height: 9px;
    width: 15px;
    display: none;
    background-size: cover;
    background-position: center;
    margin-left: 10px;
    @include breakpoint(tablet) {
      position: absolute;
      right: 10px;
      display: block;
    }
  }
  &-title {
    @include breakpoint(desktop) {
      font-size: 21px;
      width: 100%;
    }
  }
  &-desc {
    display: none;
    @include breakpoint(desktop) {
      display: block;
      font-size: 14px;
    }
  }
}
// -----Industries section-----

.industries {
  width: 95%;
  margin: auto;
  @include breakpoint(desktop) {
    width: 100%;
    margin: 0;
  }
  &-block {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    &--title {
      font-size: 18px;
      position: absolute;
      bottom: 9px;
      left: 10px;
      @include breakpoint(desktop) {
        font-size: 21px;
        bottom: 23px;
        left: 23px;
      }
    }
    @include breakpoint(tablet) {
      max-width: 700px;
    }
    @include breakpoint(desktop) {
      width: 100%;
      max-width: none;
    }
  }

  &-item {
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    height: 158px;
    margin-bottom: 20px;
    color: $color-white;
    max-width: 330px;
    width: 47%;
    @include breakpoint(tablet) {
      background-size: auto;
      width: 24%;
    }
    @include breakpoint(desktop) {
      width: 47%;
      height: 320px;
      margin-bottom: 36px;
    }
  }
}

// -----Experties section -----

.experties {
  padding-top: 84px;
  @include breakpoint(desktop) {
    padding-top: 95px;
  }
  &-block {
    display: flex;
    overflow-x: auto;
    &__item {
      position: relative;
      &--img {
        height: 250px;
        width: 170px;
        max-width: none;
        @include breakpoint(tablet) {
          height: 350px;
          width: 250px;
        }
        @include breakpoint(desktop) {
          height: 450px;
          width: 322px;
        }
      }
      &--title {
        position: absolute;
        bottom: 0;
        color: $color-white;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        padding: 0 0 12px 11px;
        width: 86%;
        @include breakpoint(desktop) {
          width: 100%;
          font-size: 21px;
          line-height: 25px;
          padding: 0 0 25px 20px;
          width: 55%;
        }
      }
    }
  }
  &-title {
    width: 90%;
    margin: 0 auto;
    @include breakpoint(desktop) {
      width: 100%;
    }
  }
}

.homepage-container {
  .banner-wrapper {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $color-white;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    h1 {
      padding-left: 20px;
      @include breakpoint(desktop) {
        width: 40%;
        font-size: 52px;
        line-height: 62px;
        position: relative;
        top: -18px;
      }
    }
  }
  .text-block {
    position: relative;
    height: 360px;
    @include breakpoint(desktop) {
      height: 429px;
    }
    &-background {
      background: #0051cb;
      opacity: 0.04;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
    &-title {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      h4 {
        line-height: 26px;
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        width: 90%;
        transform: translate(-50%, -50%);
        @include breakpoint(tablet) {
          width: 60%;
        }
        @include breakpoint(desktop) {
          font-weight: 400;
          font-size: 24px;
          line-height: 34px;
        }
      }
    }
  }
  .case-studies {
    padding-top: 70px;
    @include breakpoint(desktop) {
      padding-top: 149px;
    }
  }
  .aproach-title,
  .industries-title,
  .experties-title {
    font-weight: 400;
    font-size: 24px;
    color: $color-blue;
    padding-bottom: 30px;
    @include breakpoint(desktop) {
      font-size: 32px;
      padding-bottom: 45px;
    }
  }
}
